<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.care.mc.mybatis.FaqMapper">
	<resultMap type="com.care.mc.dto.FaqDTO" id="faq">
		
		<result property="kind" column="kind" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		
	</resultMap>
<select id="choSearch" resultMap="faq">
select * from faq_list where kind = #{ch} and title like #{se} or content like #{sea}
</select>
<select id="choList" resultMap="faq">
select * from faq_list where kind = #{ch}
</select>
<select id="allSearch" resultMap="faq">
select * from faq_list where title like #{se} or content like #{sea}
</select>
<select id="allList" resultMap="faq">
select * from faq_list
</select>

</mapper>