<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.care.mc.mybatis.MainMapper">
	<resultMap type="com.care.mc.dto.MainDTO" id="board">
		<id property="writeNo" column="write_no" />
		<result property="view" column="hit" />
		<result property="mainImg" column="main_img" />
		<result property="contentImg" column="content_img" />
		<result property="title" column="title" />
		<result property="status" column="status" />
		<result property="wdate" column="wdate" />
		<result property="videoName" column="video_name" />
		<result property="contentStyle" column="content_style" />
		<result property="aTag" column="a_tag" />
	</resultMap>
	<resultMap type="com.care.mc.dto.MainDTO" id="hboard">
		<id property="writeNo" column="write_no" />
		<result property="view" column="hit" />
		<result property="mainImg" column="main_img" />
		<result property="contentImg" column="content_img" />
		<result property="title" column="title" />
		<result property="status" column="status" />
		<result property="wdate" column="wdate" />
		<result property="contentStyle" column="content_style" />
	</resultMap>

	<select id="getMainBoard" resultMap="board">
		select * from whatsnewboard
		where status = '진행중' order by write_no desc
	</select>

	<select id="getBoard" resultMap="board">
		select * from whatsnewboard
		order by write_no desc
	</select>

	<select id="getDetail" resultMap="board">
		select * from whatsnewboard
		where write_no=#{writeNo}
	</select>

	<select id="getHappymeal" resultMap="hboard">
		select * from happymealboard
		order by write_no desc
	</select>

	<select id="getHappymealDetail" resultMap="hboard">
		select * from
		happymealboard where write_no = #{writeNo}
	</select>
</mapper>